.Bar {
	width: 8px;
	margin: 6px;
	display: inline-block;
	align-items: center;
	background-color: turquoise;
}
.Num {
	text-align: left;
	color: turquoise;
	width: 8px;
	margin: 6px;
	font-size: x-small;
	display: inline-block;
	align-items: flex-start;
}
.Container {
	top: 20px;
	position: relative;
	color: turquoise;
	background-color: #282c34;
	width: 100vmax;
	height: max-content;
	align-items: center;
}

.SortButton {
	margin: 10px;
	border-width: 1px;
	padding: 5px;
	border-color: turquoise;
	border-radius: 5px;
	color: turquoise;
	background-color: #282c34;
}

.TextArea {
	margin: 10px;
	border-width: 1px;
	padding: 5px;
	border-color: turquoise;
	border-radius: 5px;
	color: turquoise;
	background-color: #282c34;
}
